* {
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
    background-image: url(images/what-the-hex.png);
}
#nav{
    background:white;
    position: absolute;
    width: 100%;
}
h1{
    float:left;
    color: white;
    background: teal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:white;
    }

li {
    float: right;
    
      }
      
li a {
    display: block;
    color: rgba(128, 128, 128, 0.678);
    padding: 10px;
    text-decoration: none;
}
h2{
    color:teal;
    margin: 50px;
    padding: 5%;
    border-bottom: solid gray;
}
.clearfix:before,
.clearfix:after{
    content:" ";
    display: block;
}
.clearfix:after{
    clear: both;
    overflow: auto;
}
.content{
    background:white;
    height: 70%;
    width:960px;
    margin: 0 auto;
    
}
#dkphoto{
    float:left;
    vertical-align: text-top;
    overflow: auto;
}
form{
    padding: 10%;
}
.button {
    background-color: teal; /* teal */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
footer {
    background-color: #666666;
    padding: 10px;
    text-align: center;
    color: lightgray;
    border-top: 8px solid  #4aaaa5;
    position: absolute;
    bottom:0;
    width:100%;
  }